@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover{
  background-image: linear-gradient(
    to left,
    #FFDDDB,
    #FFAAA5
    
  )!important;
}